<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/8d5a2e2f-8666-4c95-8b1c-5d984d235257/resourceGroups/rg-tweet/providers/Microsoft.Web/sites/backendtweet</ResourceId>
    <ResourceGroup>rg-tweet</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://backendtweet.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e78fb813-aa11-4fc0-adfa-513b3de27b2b</ProjectGuid>
    <PublishUrl>https://backendtweet.scm.azurewebsites.net/</PublishUrl>
    <UserName>$backendtweet</UserName>
    <_SavePWD>true</_SavePWD>
    <ApiResourceId>/subscriptions/8d5a2e2f-8666-4c95-8b1c-5d984d235257/resourceGroups/rg-tweet/providers/Microsoft.ApiManagement/service/TweetAppBackendapi/apis/TweetAppBackend</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
  </PropertyGroup>
</Project>