a {
  text-decoration: none;
  color: white;
}

.btn {
  width: 100%;
}

.center {
  text-align: center;
}

/* .active {
  font-weight: bold;
} */


/* .nav a {
  text-decoration: none !important;

} */

/* .nav li:first-child {
  padding-left: 0;
}*/

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

#basic-navbar-nav a,button {
  margin: auto 10px auto 10px;
  font-size: 23px !important;
}

.navbar-brand {
  display: none;
}

@media only screen and (max-width: 767px) {
  #basic-navbar-nav a {
    margin: 0;
    font-size: 18px !important;
  }

  /* hiding the navbar-toggler and displaying the navbar-brand */

  .navbar-toggler {
    display: none;
  }

  .navbar-brand {
    display: block;
    color: white !important;
    margin: 0px auto;
  }
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.tweet {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
}

div.modal-body {
  width: 100%;
  min-width: 300px;
}

@media screen and (min-width: 577px) {
  div.modal-body {
    min-width: 350px;
  }
}

.tweet-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.tweet-info>div>span:first-child {
  font-weight: bold;
  margin-right: 5px;
}

.tweet-info>div>span:nth-child(2) {
  color: #969696;
  font-size: 16px;
}

.tweet-info>div>div {
  color: #969696;
  font-size: 15px;
}

.tweet-info>div>p {
  font-size: 18px;
  margin: 10px 0;
}

.tweet-icons {
  display: flex;
  align-items: center;
}

.tweet-icons>span {
  color: #969696;
  margin: 0 15px 0 5px;
  font-size: 18px !important;
}

.tweet-icon {
  font-size: 27px;
  color: #697784;
}

.tweet-icon:hover {
  color: #00b5d6;
  cursor: pointer;
}

.tweet-icon.disabled{
  pointer-events: none;
}

.tag {
  color: rgb(rgb(64, 61, 61), green, blue)
}

.heart-button {
  background: transparent;
  border: none;
}

.new-tweet {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}

.tweet-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #C3392A;
}

.log-btn {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.home {
  display: flex;
  justify-content: center;
  margin-top: 30vh;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3;
  /* Light grey */
  border-top: 10px solid #383636;
  /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.disabled {
  pointer-events: none;
}

.spinner-container {
  display: flex;
  justify-content: center;
  margin-top: 40vh;
}

.navbar {
  background: rgb(2, 0, 36) !important;
  color: white !important;
}

.navbar-nav a.active {
  color: white !important;
  border-bottom: 1px solid white;
}

/* bottom bar */

.bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(2, 0, 36);
  padding: 8px;
  box-sizing: border-box;
  z-index: 999;
  /* Ensures it's above other content */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bottom-bar_icon {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.home_icon {
  font-size: 22px;
}

.plus_icon {
  font-size: 22px;
  margin-top: 1px;
}

.user_icon {
  font-size: 20px;
}

.bottom-bar_logout {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  text-decoration: none;
  cursor: pointer;
  color: white;
  padding: 0px;
  font-size: 20px;
  margin-bottom: 2px;
}

@media screen and (min-width:767px) {
  .bottom-bar {
    display: none;
  }
}

/* bottom bar */